
.App {
  border: 1px solid black;
}
#grid_text_container {
  border: 1px solid black;
  margin: 50px;
  width: 70%;
}
textarea {
  margin-left: 30px;
  border: none;
}

#elements_container {
  /*border: 1px solid black;*/
  margin: 40px 20px;
}

span {
  margin: 10px 30px;
  display: block;
  font-weight: 600;
  color: mediumvioletred;
}
